version: "3"
services:
  nginx-proxy:
    image: nginx:alpine
    container_name: nginx-proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - api-network
    depends_on:
      - api
  redis-server: 
    image: redis:alpine
    ports:
      - "6379:6379"
    networks:
      - api-network
  api:
    build: .
    ports:
      - "3000:3000"
    depends_on:
      - redis-server
    expose:
      - 3000
    networks:
      - api-network
networks:
  api-network:
    driver: bridge
